:root {
    --font: "Inter", sans-serif;
    --fontRegular: 400;
    --fontSemiBold: 600;
    --line-height-21: 21px;
    --line-height-24: 24px;
    --text-primary-color: #212121;
    --text-placeholder-color: #21212169;
    --transition-timing: 0.2s;
    --border-color: #dde3ee;

    // Table Specific
    --th-font: 14px;
    --td-font: 16px;
}
